'scopeName': 'source.ttfautohint'
'name': 'ttfautohint'
'fileTypes': []

# see http://repo.or.cz/ttfautohint.git/blob/HEAD:/lib/tacontrol.flex
'patterns': [
  {
    'name': 'comment.line.number-sign.ttfautohint'
    'match': '#[^\\n]*'
  }
  {
    'name': 'constant.character.escape.ttfautohint'
    'match': '\\\\n'
  }
  {
    'name': 'constant.numeric.real.ttfautohint'
    'match': '\\b(\\d*\\.\\d+|\\d+\\.\\d*)'
  }
  {
    'name': 'constant.numeric.integer.ttfautohint'
    'match': '\\b(?i:0|[1-9]\\d*|0x[\\da-f]+|0[0-7]+)'
  }
  {
    'name': 'keyword.ttfautohint'
    'match': '\\b(point|touch|xshift|yshift|left|right|nodir|[ptxylrn])\\b'
  }
  {
    'name': 'string.ttfautohint'
    'match': '\\b(?i:[a-z._][a-z\\d._]*)'
  }
]
